
# Basic

In [2]:
print('Hello world')

Hello world

In [4]:
print('Hello world')
print('Hello world')
print('Hello world')

Hello world
Hello world
Hello world

In [5]:
print('Hello world')
print('Hello world')
print("\n")
print('Hello world')

Hello world
Hello world


Hello world

# "\n"new line tag

In [9]:
a=3
print("a=", a,sep='***',end='')

a=***3

In [11]:
x_y=90
print(x_y)

90

In [13]:
x=60
y=65
print(x+y)

125

In [15]:
x=10
sum((x,15))

25

In [16]:
import os

In [17]:
os.getcwd()

'C:\\Users\\User'

In [18]:
x='royal'
y=len(x)
print(y)

5

In [20]:
x='royal'
y=x.capitalize()
print(y)

Royal

In [21]:
x='royal'
y=x.upper()
print(y)

ROYAL

In [22]:
x='royal'
y=x.lower()
print(y)

royal

In [23]:
x='royal'
y=x.swapcase()
print(y)

ROYAL

In [25]:
x='royal'
y=x.swapcase()
print(y)

ROYAL

In [27]:
name="rased"
apple=5
print("%s has %i apples"%(name,apple))

rased has 5 apples

# string rules no 01 '%' use before variable configare

In [31]:
name="Rased"
apples=5
x="{0} has {1} apples".format(name,apples)
print(x)

Rased has 5 apples

In [38]:
name="Rased"
apples=5
x="{0} has {1} apples".format(apples,name)
print(x)

5 has Rased apples

In [40]:
name="Rased"
apples=5
print(f"{name} has {apples} apples")

Rased has 5 apples

# User input

In [43]:
x= input("Enter name: ")
print(x)

Enter name: Royal University of Dhaka
Royal University of Dhaka

In [44]:
x=str (input("Enter name: "))
print(x)

Enter name: Royal University of Dhaka
Royal University of Dhaka

In [45]:
x= int(input("Enter name: "))
print(x)

Enter name: 06110308
6110308

In [46]:
x=10.22555489
type(x)

float

In [47]:
x=10
id(x)

2096579635792

# id means pysical layout adress

In [52]:
x=str("Royal")
id(x)

2096665970800

# join fn

In [54]:
a= ['Royal', 'University','of','Dhaka']
print(' '.join(a))

Royal University of Dhaka

In [55]:
a='Royal University of Dhaka'
x=a.split()
print(x)

['Royal', 'University', 'of', 'Dhaka']

# IF-ELSE

In [57]:
x=30
y=60
if x>y:
  print('x is greater')
else:
        print('y is greater')

y is greater

In [59]:
x=float(input("Enter Temperature: "))
print(x)
if x>25:
    print('too hot')
else:
    print('Normal')

Enter Temperature: 26
26.0
too hot

In [63]:
x=float(input("Enter number: "))
print(x)
if x>100:
    print('Error')
elif x>80:
    print('A+')
elif x>=70:
    print('A')
elif x>=70:
    print('A-')
elif x>=70:
    print('B')
else:
    print('F')

Enter number: 50
50.0
F

In [66]:
x=float(input("Enter number: "))
print(x)
if x%2==0:
    print('Even')
else:
    print('Odd')

Enter number: 36
36.0
Even